<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/HaftrustVerifierdb</property>
    <property name="hibernate.connection.username">kj905</property>
    <property name="hibernate.connection.password">kj905</property>
    <mapping resource="bank.hbm.xml"/>
    <mapping resource="bank.hbm.xml"/>
    <mapping resource="device.hbm.xml"/>
    <mapping resource="reference.hbm.xml"/>
    <mapping resource="image.hbm.xml"/>
    <mapping resource="country.hbm.xml"/>
    <mapping resource="region.hbm.xml"/>
    <mapping resource="district.hbm.xml"/>
    <mapping resource="verifier.hbm.xml"/>
    <mapping resource="identity_document.hbm.xml"/>
    <mapping resource="interview.hbm.xml"/>
    <mapping resource="address.hbm.xml"/>
    <mapping resource="static_data.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
